@import "tailwindcss";

@theme inline {
  --color-background: #050505;
  --color-foreground: #ededed;
  
  --color-neon-cyan: #00f0ff;
  --color-neon-magenta: #ff00ff;
  --color-deep-black: #050505;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
